body{
    margin: 0;
    padding: 0;
}
.Content p{
    background-color: var(--bg-color);
    color:var(--inverted-bg-color);
    font-size: 35px;
    padding: 10px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.Content label {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    grid-row-gap: 10px;
    margin: 0 auto;
    width: 450px;
    text-align: center;
    margin-top: 7px;
    color:var(--inverted-secondary-button-color);
    font-size: 18px;
}

.Content label input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--inverted-secondary-button-color);
}

.Content button{
    display: flex;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-button-color);
    color: var(--primary-button-color);
    cursor: pointer;
    margin: 0 auto;
    margin-top: 12px;
    width: 25%;
    justify-content: center;
}

.Content button:hover {
    background-color: var(--primary-button-color);
    color: var(--secondary-button-color);
}