.userLogin {
    form {
        display: flex;
        flex-direction: column;
        grid-row-gap: 10px;
        margin: 0 auto;
        width: 450px;
        text-align: center;
        margin-top: 7px;
        color: brown;
        font-size: 20px;

        input {
            width: 50%;
            padding: 7px;
            border-radius: 5px;
            border: 1px solid brown;
            margin: 0 auto;
        }

        button {
            display: flex;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: bisque;
            color: brown;
            margin: 0 auto;
            margin-top: 12px;
            width: 25%;
            justify-content: center;
        }

        button:hover {
            background-color: brown;
            color: bisque;
        }
    }
}