.Footer {
    margin-top: 10px;
    background-color: burlywood;
    color: bisque;
    font-size: 35px;
    padding: 10px;
    text-align: center;
}

.Footer p{
    margin: 0;
}
.Footer input {
    font-size: var(--font-size-m);
}